data/*
!data/heads/
!data/heads/**
*openai*
csvs
.vscode
__pycache__
*.pyc
wandb
.locks
hf
.ruff_cache
logs*
*.pdf
*.bash
plots
lora_rank*
vera_rank*
kernel_meta
results.txt
*.sh
running_scripts
results
fusion_result.json
meta-llama
datasets
old_version
scripts_and_results